body {
}

.row {
            margin: 0px;
        }



        .navbar {
            height: 100px;
            background: #8e44ad;
        }

        .navbar-nav {
            margin-top: 10px;
            margin-left: 0em;
        }

        .navbar-header {
            margin-top: 20px;
        }

        .navbar-nav li a {
            //margin-left: 50px;
            padding:30px;
            color: #ddd;
            font-size: 16px;
        }

            .navbar-nav li a:hover {
                background: none;
            }

            .navbar-nav li a:focus {
                background: none;
                color: #fff;
            }

        .dropdown {
            background: none;
            margin-top: 2em;
        }

            .dropdown a {
                color: #ddd;
                text-decoration: none;
            }

                .dropdown a .caret {
                    color: #fff;
                }

            .dropdown .dropdown-menu a {
                padding: 10px 20px;
            }
            .profilebox{
                background: white;
                border-radius: 10px;
                margin:20px;
                padding:20px 20px 20px 20px;

                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .profileimg img{
                Width:100%;
                Height:200px;
                border-radius:10px;
            }
            .profileimg ul{
                padding-left:0px;
                list-style-type:none;
                 color:rgba(0, 0, 0,0.6);
                 font-size:12px;
                 font-family:Verdana;
                 
            }
            .profileimg ul li{
                padding:5px;
            //    border-bottom:1px solid #eee;
                margin-top:5px; 
            }
            .pprofileimg h4{
               font-family:'Arial Rounded MT';
               font-weight:600;
               font-size:16px;
            }
            .basicdetail{
                 Width:100%;
                Height:250px;
                border-radius:10px;

            }
